<%= turbo_frame_tag "topic_boxes" do %>
  <div class="users-delete-container">

    <%= form_with(
      url: "/users/#{@topic.id}/destroy",
      data: {turbo_confirm: "他のトピックとの紐づきも削除されます。削除してよろしいですか？"}
    ) do |form| %>
      <div class="big-box">
        <%= form.text_area :content, class: "big-text", required: true,
        size: "20x4", maxlength: 40, value: @topic.content, readonly: true %>
        <%= form.submit class: "button", value: "削除" %>
      </div>
    <% end %>

    <div class="small-boxes">
      <!-- 1.ランダムで表示された、ある話題に紐づく中間データを全て取り出す -->
      <% @connections.each do |connection| %>
        <!-- 2.取り出した中間データに紐づく類題を、similar_topicsに全て代入する -->
        <% similar_topics = Topic.where(id: connection.similar_topic_id) %>
        <!-- 3.代入した類題を全て取り出す -->
        <% similar_topics.each do |similar_topic| %>
          <%= form_with(url: "/users/#{@topic.id}/s_destroy") do |form| %>
            <%= form.hidden_field :similar_topic_id, value: similar_topic.id %>
            <div class="small-box">
              <!-- 4.取り出した類題のcontentのみをテキストエリア内に表示する -->
              <%= form.text_area :content, class: "small-text", required: true,
              size: "20x4", maxlength: 40, value: similar_topic.content, readonly: true %>
              <%= form.submit class: "button", value: "削除" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <%= button_to(
      "/users/#{@current_user.id}/stock",
      {method: :get, params: {topic_id: @topic.id}, class: "back"}
    ) do %>
      <i class="fa fa-arrow-left"></i>
    <% end %>

  </div>
<% end %>