<%= turbo_frame_tag "topic_boxes" do %>
  <div class="users-home-container">

    <div class="big-box">

      <p><i class="fas fa-user"></i><%= @current_user.name %></p>

      <div class="contents">
        <div class="content">
          <div><i class="fas fa-star"></i></div>
          <div>ストックしたトピック
            <%= link_to(
              "#{@topic_count}個", "/users/#{@current_user.id}/index", class: "topic-count"
            ) %>
          </div>
        </div>
        <div class="content">
          <i class="fas fa-search"></i>
          <%= form_with(url: "/user_search", method: :get) do |f| %>
            <%= f.text_field :keyword, class: "search-field", required: true,
            placeholder: "トピックを検索" %>
          <% end %>
        </div>
        <div class="content">
          <div><i class="fas fa-plus"></i></div>
          <div><%= link_to("新規ストック", "/users/#{@current_user.id}/new",
          class: "new-btn") %></div>
        </div>
      </div>

    </div>

    <%= link_to("スタート", "/users/#{@current_user.id}/stock", class: "start-btn") %>

  </div>
<% end %>