<div class="users-login_form-organized-section" data-turbo="false">

  <% if @login_error_message %>
    <p class="font-error"><%= @login_error_message %></p>
  <% end %>

  <div class="login-section">
    <h2>ログイン</h2>
    <%= form_with(url: "/login", local: true) do |form| %>
      <%= form.label :username, "ユーザー名:" %>
      <%= form.text_field :username, id: "username", required: true, value: @login_username %>
      <%= form.label :password, "パスワード:" %>
      <%= form.password_field :password, id: "password", required: true %>
      <%= form.submit class: "button", value: "ログイン" %>
    <% end %>
  </div>

  <% if @signup_error_message %>
    <p class="font-error"><%= @signup_error_message %></p>
  <% end %>

  <div class="signup-section" id="signup-form">
    <h2>新規登録はこちら</h2>
    <%= form_with(url: "/signup", local: true) do |form| %> 
      <%= form.label :newname, "新しいユーザー名:" %>
      <!-- name="new-username"のようなスネークの命名にするとログインの入力フォームにも影響してエラーとなる -->
      <%= form.text_field :newname, id: "newname", required: true,
      placeholder: "12文字以下", value: @signup_username %>
      <%= form.label :newpass, "新しいパスワード:" %>
      <%= form.password_field :newpass, id: "newpass", required: true,
      placeholder: "半角英数4～12文字以内" %>
      <%= form.submit class: "button", value: "新規登録" %>
    <% end %>
  </div>

  <script type="module">
    import "login_form";
  </script>

</div>
