<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>TopicStock</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
  </head>

  <body>

    <div class="header" data-turbo="false">
      <div class="header-title">
        <% if @current_user %>
          <span>
            <%= link_to("トピックストック", "/users/#{@current_user.id}") %>
          </span>
        <% else %>
          <span>
            <%= link_to("トピックストック", "/TopicStock") %>
          </span>
        <% end %>
      </div>
      <div class="header-links">
        <% if @current_user %>
          <span>
            <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
          </span>
          <span data-turbo="true">
            <%= link_to("ログアウト", "/logout", data: {turbo_method: "post"}) %>
          </span>
        <% else %>
          <span>
            <%= link_to("ログイン", "/login_form") %>
          </span>
        <% end %>
      </div>
    </div>

    <%= yield %>
  </body>
</html>